body {
  padding: 0;
  margin: 0;
  background-color: rgba(201, 18, 122, 0.932);
}
header {
  background-color: white;
  color: rgba(201, 18, 122, 0.932);
  border-bottom: #5c2f2f solid 1px;
  height: 120px;
}
header h2 {
  color: rgba(201, 18, 122, 0.932);
}
* {
  box-sizing: border-box;
}
.container nav {
  float: left;
  margin-top: 10px;
}
header .container h2 {
  float: right;
  margin-top: 35px;
  margin-right: 70px;
}

nav {
  width: 50%;
  padding: 1.5%;
}

ul {
  margin: 0%;
  padding: 0;
  list-style: none;
}
nav li {
  float: left;
  list-style: none;
  padding: 3px 3px;
  display: inline;
}
li:hover {
  background-color: rgba(201, 18, 122, 0.932);
}
nav a:hover {
  color: white;
}

nav a {
  width: 120px;
  display: inline;
  text-align: center;
  text-transform: uppercase;
  color: rgba(201, 18, 122, 0.932);
  font-size: 18px;
  padding: 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  text-decoration-line: none;
  margin-top: 40%;
}

img {
  width: 100%;
}

#img-p1 img {
  width: 30%;
  height: 40%;
  white-space: normal;
}
#img-p2 img {
  width: 30%;
  height: 10%;
}
#img-p3 img {
  width: 30%;
  height: 50%;
}
#img-p4 img {
  width: 30%;
  height: 50%;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 45px;
  color: rgb(9, 6, 10);
}
h2 {
  font-size: 35px;
  text-align: center;
}
h3 {
  color: black;
}

#text {
  margin-top: 90px;
  margin-left: 30px;
  width: 90%;
  padding: 0;
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  color: white;
}
.Gallery {
  margin: 5px;
  border: 1px solid #cccccc;
  float: left;
  width: 250px;
}
.Gallery img {
  width: 100%;
  border-width: 50px;
}

.footer {
  padding: 35px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: rgba(201, 18, 122, 0.932);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

#show {
  position: relative;
  background-image: url(images/pexels-ezekixl-akinnewu-946240.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  overflow: hidden;
  color: white;
}

#show h2 {
  position: absolute;
  bottom: 0px;
  left: 20%;
}
body li {
  margin-top: 3%;
  text-align: center;
  text-decoration: none;
  font-size: 130%;
  text-decoration-line: none;
  text-transform: uppercase;
  color: rgba(201, 18, 122, 0.932);
  font-weight: bold;
}
.res a {
  text-decoration: none;
  color: rgba(201, 18, 122, 0.932);
  font-weight: bold;
}

.flower {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.flower .par {
  width: 30%;
  height: 50;
  margin-top: 10%;
  margin-right: 20%;
  font-weight: bold;
  font-size: 100%;
  text-align: justify;
  color: black;
}

.flower img {
  width: 30%;
  height: 30%;
  margin-top: 10%;
  margin-right: 5%;
}
